<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<h1>Show me the category</h1>


<div class="col-lg-3">
    <form action="#" method="post">
        <p>
            <select class="form-control" id="category" name="category">
                <option value="0">Select Category</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:utext="${category.name}"></option>
            </select>

            <button type="submit" th:action="@{/addcat}" >New</button>
            <button type="submit" th:action="@{/updatecat}">Update</button>
            <button type="submit" th:action="@{/delcat}">Delete</button></p>
    </form>
</div>

</body>
</html>