<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<h1>Show me the category</h1>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Left</th>
            <th>Right</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.categoryId}">1</td>
            <td th:utext="${category.name}">Electri</td>
            <td th:text="${category.lft}">2</td>
            <td th:text="${category.rgt}">2</td>
        </tr>
        </tbody>
    </table>
</div>
<br>


<div class="col-lg-3" th:object="${category}">
    <form action="#" th:action="@{/greeting}" th:object="${category}" method="post">
        <select class="form-control" id="testOrder" name="testOrder">
            <option value="">Select Test Order</option>
            <option th:each="category : ${categories}"
                    th:value="${category.name}"
                    th:utext="${category.name}"></option>
        </select>

        <input type="submit" value="Submit" /> <input type="reset" value="Delete" />
    </form>
</div>

</body>
</html>