<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<h1>Show me the category</h1>


<div class="col-lg-3">
    <form action="#" th:action="@{/addcat}" method="post">

        <select class="form-control" id="category" name="category">
            <option value="0">Select Test Order</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:utext="${category.name}"></option>
        </select>

        <input type="submit" value="Submit"/> <input type="reset" value="Delete"/>
    </form>
</div>

</body>
</html>