<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Category Form</title>
</head>
<body>
<h1>Create New Category</h1>

<form action="#" th:action="@{/addnewcat}" th:object="${newCategory}" method="post">
    <p>Parent Category : <select class="form-control" id="parent" name="parent">
        <option th:value="${parentCategory.name}"
                th:utext="${parentCategory.name}"></option>
    </select>
    </p>

    <p>New Category : <input type="text" text="New Category Name" id="newCategory" name="newCategory"/></p>

    <p><button type="submit">Create</button> <button type="submit" th:action="@{/categories}">Cancel</button></p>
</form>

</body>
</html>