<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script th:src="@{https://code.jquery.com/jquery-1.11.3.min.js}" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script th:src="@{https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js}" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="main" class="ui-content">
	<div class="custom-select" style="width:500px;">
	  <select>
		<option value="0">Select car:</option>
		<option value="1">Audi</option>
		<option value="2">BMW</option>
		<option value="3">Citroen</option>
		<option value="4">Ford</option>
		<option value="5">Honda</option>
		<option value="6">Jaguar</option>
		<option value="7">Land Rover</option>
		<option value="8">Mercedes</option>
		<option value="9">Mini</option>
		<option value="10">Nissan</option>
		<option value="11">Toyota</option>
		<option value="12">Volvo</option>
	  </select>
	</div>
</div>

<div data-role="page">
	<div class="custom-select" style="width:500px;">
	  <select>
		<option value="0">Select car:</option>
		<option value="1">Audi</option>
		<option value="2">BMW</option>
		<option value="3">Citroen</option>
		<option value="4">Ford</option>
		<option value="5">Honda</option>
		<option value="6">Jaguar</option>
		<option value="7">Land Rover</option>
		<option value="8">Mercedes</option>
		<option value="9">Mini</option>
		<option value="10">Nissan</option>
		<option value="11">Toyota</option>
		<option value="12">Volvo</option>
	  </select>
	</div>
	
	<a href="#myPopup" data-rel="popup" class="create-icon">
		<img th:src="@{/img/New-Folder-icon.png}" src="/DeWarehouseProject/static/img/New-Folder-icon.png">
	</a>

    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:500px;">
      <form method="post" action="/action_page_post.php">
        <div class="row">
			<div class="col-25">
				<label for="fname">Category: </label>
			</div>
			<div class="col-75">
				<select id="country1" name="country">
					<option value="australia">Food</option>
					<option value="canada">Beverages</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">New sub-category:</label>
			</div>
			<div class="col-75">
				<input type="text" id="scategory1" name="subcategory" placeholder="Enter new category">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="country">Country</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Your name..">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="subject">Subject</label>
			</div>
			<div class="col-75">
				<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Submit">
			<input type="" value="Cancel">
		</div>
      </form>
    </div>
	
	<a href="#myPopup" data-rel="popup" class="create-icon">
		<img th:src="@{/img/edit-icon.png}" src="/DeWarehouseProject/static/img/edit-icon.png">
	</a>

    <div data-role="popup" id="myPopup2" class="ui-content" style="min-width:500px;">
      <form method="post" action="/action_page_post.php">
        <div class="row">
			<div class="col-25">
				<label for="fname">Category: </label>
			</div>
			<div class="col-75">
				<select id="country2" name="country">
					<option value="australia">Food</option>
					<option value="canada">Beverages</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">New sub-category:</label>
			</div>
			<div class="col-75">
				<input type="text" id="scategory2" name="subcategory" placeholder="Enter new category">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="country">Country</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Your name..">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="subject">Subject</label>
			</div>
			<div class="col-75">
				<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Submit">
			<input type="button" value="Cancel">
		</div>
      </form>
    </div>
	
	<a href="#myPopup" data-rel="popup" class="delete-icon">
		<img th:src="@{/img/Delete-2-icon.png}" src="/DeWarehouseProject/static/img/Delete-2-icon.png">
	</a>

    <div data-role="popup" id="myPopup3" class="ui-content" style="min-width:500px;">
      <form method="post" action="/action_page_post.php">
        <div class="row">
			<div class="col-25">
				<label for="fname">Category: </label>
			</div>
			<div class="col-75">
				<select id="country" name="country">
					<option value="australia">Food</option>
					<option value="canada">Beverages</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">New sub-category:</label>
			</div>
			<div class="col-75">
				<input type="text" id="scategory" name="subcategory" placeholder="Enter new category">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="country">Country</label>
			</div>
			<div class="col-75">
				<input type="text" id="fname" name="firstname" placeholder="Your name..">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="subject">Subject</label>
			</div>
			<div class="col-75">
				<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Submit">
			<input type="button" value="Cancel">
		</div>
      </form>
    </div>
  </div>

</body>
</html>
