<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h2>Make a drop down list based on Category at database</h2>
<form action="#" th:action="@{/categories/create}" th:object="${category}" method="post">

    <p id="demo">

        <select th:field="*{dropdownSelectedValue}">
            <option th:each="dropdownValue: ${singleSelectAllValues}"
                    th:value="${dropdownValue}"
                    th:text="${dropdownValue}"></option>
        </select>

    </p>


    <p>New Category: <input type="text" th:field="*{textField}"/></p>
    <!--<p>Message: <input type="text" th:field="*{content}"/></p>-->
    <p><input type="submit" th:type=value="Submit"/> <input type="reset" value="Reset"/></p>
</form>


<!--<script>-->
    <!--var obj, dbParam, xmlhttp, myObj, x, txt = "";-->
    <!--obj = {"table": "category", "limit": 20};-->
    <!--dbParam = JSON.stringify(obj);-->
    <!--xmlhttp = new XMLHttpRequest();-->
    <!--xmlhttp.onreadystatechange = function () {-->
        <!--if (this.readyState == 4 && this.status == 200) {-->
            <!--myObj = JSON.parse(this.responseText);-->
            <!--txt += "<select>"-->
            <!--txt += "<option>Choose Category..."-->
            <!--for (x in myObj) {-->
                <!--txt += "<option value=" + myObj[x].categoryId + "th:field=\"*{id}\">" + String(myObj[x].name) + "</option>";-->
            <!--}-->
            <!--txt += "</select>"-->
            <!--document.getElementById("demo").innerHTML = txt;-->
        <!--}-->
    <!--};-->
    <!--xmlhttp.open("GET", "http://localhost:8080/main/showcat", true);-->
    <!--xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");-->
    <!--xmlhttp.send("x=" + dbParam);-->

<!--</script>-->

</body>
</html>
